<!-- chat assistant start-->
<div class="mt-4 app-chat-assistance" width="100%">

    <!-- <div>
        <div class="float-button quick-button ">
            <p id="a12"> <i class=" fa fa-link" style="font-size:35px ;color:#fff" (click)="openOffcanvas()"></i>
            </p>


        </div>
    </div> -->
    <!-- <div>
        <div class="float-button chat-button ">
            <p id="a12"> <i class=" fa fa-comment-dots" style="font-size:35px ;color:#fff"></i>
            </p>
        </div>
    </div> -->
    <div>
        <div class="float-button call-button callbtn">
            <p id="a12"> <i class=" fa fa-phone-alt" style="font-size:35px ;color:#fff"></i>
            </p>
        </div>
    </div>
</div>
<!-- chat assistant ends-->
