<!-- main start here-->
<main id="main">
    <section class="inner-page p-0 sec_body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 middle">
                    <!--sidebarTop start here-->
                    <app-sidebar></app-sidebar>
                    <!--sidebarTop end here-->
                    <!-- ======= Breadcrumbs ======= -->
                    <section class="breadcrumbs bredcrumb_top">
                        <div class="container-fluid ">
                            <div class="d-flex justify-content-between align-items-center">
                                <ol class="breadcrumb  card_partd">
                                    <li class="breadcrumb-item active"><a href="order">My Account</a></li>
                                    <li class="breadcrumb-item"> <a routerLink="/products" routerLinkActive="active"
                                            style="color: #c6000c">Terms-Condition</a></li>
                                </ol>
                            </div>
                        </div>
                    </section>
                    <!-- End Breadcrumbs -->

                    <!--terms and condition start-->
                    <div class="row">
                        <div class="col-12 s0">
                            Terms & Conditions
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 a2 ">
                            <div class="s9">
                                <p>1.	All products depicted on this website (which may be subject to change) are subject to availability.</p>
                                <p>2.	By clicking the 'Place Order' button at the end of the order process, you are agreeing to be bound by our terms and conditions as stated on the Ceasefire website.</p>
                                <p>3.	In the event of any supply difficulties or stock unavailability, we will contact the customer to obtain consent for delivering another product of equal value.</p>
                                <p>4.	If we are unable to supply all or part of your order (including any substitute product), we will notify you as soon as possible and fully reimburse your payment for the undelivered portion within 30 days of the intended delivery date.</p>
                                <p>5.	Requests for refunds or exchanges of purchased products can only be made within 15 days of the customer receiving the products. No refund or exchange requests can be made after 15 days.</p>

                                <p>6.	Requests for cancellation or modification of an order can only be made within 8 working hours of placing the order on the Ceasefire website.</p>
                                <p>7.	Submitting your order is subject to our acceptance of this offer. We will send an email confirmation of your order details to inform you that your order is being processed.</p>
                                <p>8.	We will not consider ourselves bound by any contract with you in any given situation.</p>
                                <p><b>Delivery:</b></p>

                                <p>9.	Deliveries via courier services cannot be scheduled for specific times.
                                </p>

                                <p>10.	All orders will be delivered during the working day between 8 am and 6 pm.</p>
                                <p>11.	If delivery is not possible on public holidays or due to local restrictions, orders will be delivered on the next working day.</p>
                                <p>12.	To avoid delivery problems or delays, please ensure that you provide the complete address, including a correct postcode for the intended recipient, along with your daytime contact telephone number or email address so that we can notify you in case of any delivery issues.</p>
                                <p>13.	If the intended recipient is not found at their office, the products will be delivered to the reception/front office (for office deliveries). If the intended recipient is not found at home, the products will be taken to our nearest Ceasefire branch, and the customer will be notified to collect the products within 48 hours from the scheduled delivery time.</p>
                                <p>14.	In such cases, your order will be considered delivered, and we will not be responsible for any damage or loss of items. If the recipient's number is incorrect, not responding, or unavailable, delivery may not be possible, and the recipient must collect the order from our branch office within 48 hours from the scheduled delivery time.
                                </p>
                                <p><b>Customer Service:</b></p>
                                <p>15.	Ceasefire strives to deliver the finest quality and service experience to its customers. In the rare case of service failure or quality complaints, you can email us at enquiry@ceasefire.in or call our toll-free numbers, and our team will respond within 8-12 working hours.</p>
                                <p>16.	Ceasefire may use the email addresses or telephone numbers provided by you at the time of placing your orders or subscribing to our mailing lists to send promotional offers and other marketing communications to you from time to time.</p>
                                <p>If you are not satisfied with our service, any complaints or suggestions should be addressed to:</p>
                                <p><b>Ceasefire Customer Service Desk</b></p>
                                <p>Email: enquiry@ceasefire.in</p>
                                <p>Call Us: 1800 120 3473 / 9540 666 666</p>
                                <p>Thank you! </p>

                            </div>
                        </div>
                    </div>
                    <!--terms and condition end-->
                </div>
            </div>
            <!-- chat assistant start-->
              <!-- Chat And Quick Link Button On Right Side -->
            <!-- <app-chat-assistance></app-chat-assistance> -->
            <!-- chat assistant ends-->
            <!--  commoncode start here-->
            <div class="row">
                <app-product-recommended></app-product-recommended>
            </div>
            <!-- commoncode end here-->
        </div>
    </section>
</main>
<!-- End #main -->
