

<div class="row p-5 bg_color">
    <div class="col-lg-4 col-md-4 col-xs-12 border_right">
       <h4>Call us</h4>
       <p>Call Our Support Team<br>
           <span class="phone_n"> <a href="tel:9540666666">9540 666 666</a></span></p>

           <p>Ceasefire Toll Free Number<br>

               <span class="phone_n"> <a href="tel:18001203473">1800 120 3473</a></span></p>

    </div>

    <div class="col-lg-4 col-md-4 col-xs-12 border_right ">
       <h4>Chat Now</h4>
       <p>Chat with our sales & support team for quick <br>answers on product features, pricing and more.<br>
     <p>
      <a href="javascript:void(0)" target="_blank" class="btn s_chat"><img src="https://img1.wsimg.com/dc-assets/live-engage/images/chat-baloon.svg" class="mr_2" height="20" width="20"> Chat with us</a> </p>
     <p> <a href="https://api.whatsapp.com/send/?phone=7669295046&text&type=phone_number&app_absent=0" target="_blank" class="btn whatsapp mt-3"><img src="https://ccrmuk.ceasefire.biz/assets/ProductImage/whats-app_w.png" class="mr_2" height="20" width="20">Whatsapp</a>
     </p>

    
     <p>Hours: 9AM to 6PM</p>

    </div>

    <div class="col-lg-4 col-md-4 col-xs-12 ">
        <h4>Contact us</h4>
        <p>B1/H1, Mohan Cooperative Ind Estate, New Delhi  </p>
      <p>Email: <a href="mailto:response@ceasefire.in">response@ceasefire.in</a></p>




      <p> Website:<a href="https://www.ceasefire.in/" target="_blank"> www.ceasefire.in</a></p>
<a  routerLink="/Enquiry" type="button" class=" btn btn-primary"><i class="fa fa-question-circle-o" style="margin-right: 5px;" aria-hidden="true"></i>Send Enquiry</a>
     </div>

   </div>
