.yellow_bg{ background-color: #ffe8b4; padding: 50px;}
.grey_bg{ background-color: #c7c7c7; padding: 50px;}

.box{ border: 1px solid #ccc; background-color: #fff;}
.card_1 {
    margin-left: -3rem;
    width: 181px;
    float: left;
    margin-top: 40px;
}

#b_00 {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    color: #868181
}
.card_text-1 {
    width: 16.4rem;
    height: -15rem;
    font-size: 1.5rem;
    color: #000;
    font-weight: 500;
    padding-left: 0.4rem;
    text-align: left;
}

/* card design */
.card-block {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 15px;
    height: 234px;
    padding: 14px;
}
.cate_0 {
    width: 64%;
    font-size: 1rem;
    height: 0px;
    padding-left: 0.6rem;
}

#fa_button {
    font-size: 20px;
    color: #c6000c;
}

.right_img{ padding-left: 70px;}


@media only screen and (max-width: 600px) {

    .mob_mt{ margin-top: 20px;}
        }
