h5{ font-size: 1.1rem !important;}

.room_name{ width: 227px; float: left; }
.add_new{    float: left;
    margin-left: 5px; }

    .list_g{display: block;
        width: 84%;}
    .border_right{border-right: 1px solid #f3f3f3; margin-right: 10px;}
    .border_btm{ border-bottom: 1px solid #f7f7f7;}
    .text_right{ text-align: right;}
    body{ font-family:"Poppins", sans-serif;}
    table thead{ font-weight: 500; background-color: #f8fbff; color: #424242; font-size: 14px;}
    thead th{ font-weight: 500;}

    .m-left{margin-left: 5px;}
    .width_td{ width: 88px;}
    .room_name_3{    width: 130px;
        float: left;}
        .room_add_new{    margin-left: 3px;}

        .border_d{ border-bottom: 1px solid #ccc;}

        .close_btn{float: right;
            color: #c6000c;}
