<!-- main start here-->
<main id="main">
    <section class="inner-page px-5 py-2 sec_body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 middle">
                    <!-- 1st back button end here-->
                    <!--terms and condition start-->
                    <div class="row">
                        <div class="col-12 s0">
                            Terms & Conditions
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 a2 ">
                            <div class="s9">
                                <p>All products as depicted on this website (as may be varied from time to time) are
                                    subject to availability.</p>
                                <p>
                                    In the event of any supply difficulties or in case of stock unavailability we shall
                                    get in touch with the customer and take his consent to deliver another product of
                                    the same value.</p>
                                <p>In the event that we are unable to supply all or part of your order (the product or
                                    any substitute product to you at all), we shall notify you as soon as possible and
                                    reimburse your payment for the undelivered part of your order in full no later than
                                    30 days after the intended delivery date.</p>
                                <p>
                                    Request for Refund or Exchange of purchased products can be made only within 15 days
                                    of the customer receiving the products. No refund or exchange request can be made by
                                    the customer after 15 days.</p>
                                <p>Request for cancellation or modification of order can be made only within 8 working
                                    hours of placing the order on the Ceasefire website.</p>

                                <p>For more details of Refund & Exchange and Order Cancellation & Modification please
                                    read our Refund & Exchange policy.

                                    Delivery</p>
                                <p>By clicking on the 'Place Order' button at the end of the order process, you are
                                    consenting to be bound by our terms and conditions contained in these Terms and
                                    Conditions and appearing anywhere on Ceasefire website.</p>
                                <p>Submitting your order is subject to our acceptance of this offer. We will send an
                                    email confirmation of your order details to advise that we your order is under
                                    process.</p>
                                <p>We will not consider ourselves bound by any contract with you in any given situation
                                </p>
                                <p>
                                    Deliveries via courier services cannot be delivered at specific times.</p>
                                <p>
                                    All orders will be delivered during the working day between 8am and 6pm.</p>
                                <p>
                                    In case of a delivery not possible on public holidays or local restriction, orders
                                    will be delivered on next working day.</p>
                                <p>
                                    To avoid problems or delays with delivery, please ensure that you have included
                                    complete address, including accurate postcode of the intended recipient and
                                    telephone number, together with your daytime contact telephone number or e-mail
                                    address so that we can notify you in the event that any delivery problems are
                                    encountered.</p>
                                <p>If, for any reason, you wish to change or cancel your order you can do so by calling
                                    <span style="color: #0d6efd; font-size: 1rem;">1800 120 3473 / 9540 666 666</span>
                                    or email <span style="color: #0d6efd; font-size: 1rem;">enquiry@ceasefire.in</span>
                                    Any order placed through
                                    the website can be cancelled within 8 working hours of the order time.
                                </p>
                                <p>
                                    Order cannot be cancelled or modified after 8 working hours from the order time</p>
                                <p>Our normal delivery hours are between 9 am - 8 pm</p>
                                <p>During peak holidays, festivals or events, our customer service agents may not be
                                    able to provide immediate delivery confirmation. However please be assured that our
                                    team is working hard to get your orders delivered as soon as possible.</p>
                                <p>If the intended recipient is not found at his office then the products will be
                                    delivered at the reception / front office (in case of office). In case the intended
                                    recipient is not found at home the products will reach our nearest Ceasefire branch
                                    and the customer will be informed about the same by us and the customer will be
                                    required to collect the products on his own from our branch office within 48 hrs
                                    from scheduled delivery time.</p>
                                <p>Your order in such cases will be considered as delivered and we will not be
                                    responsible for any damage or loss of items. If recipient's number is incorrect, not
                                    responding, or not available, the delivery may not be possible and as such the
                                    recipient must collect the order from our branch office within 48 hrs from scheduled
                                    delivery time.</p>
                                <p>Ceasefire works very hard to deliver finest quality and service experience to its
                                    customers. For us, our customer and business is most important and we really care
                                    about delivering the best. In rare case of service failure or quality complaint, you
                                    can write an email to enquiry@ceasefire.in or call us on our toll free numbers and
                                    our team will respond you within 8-12 working hours.</p>
                                <p>
                                    Ceasefire may use the email ids or telephone number provided by you at the time of
                                    placing your orders or while subscribing to our mailing lists for sending
                                    promotional offers and other marketing communication to you from time to time. </p>
                                <p>
                                    Ceasefire Customer Service Desk</p>
                                <p>
                                    In the event that you are not satisfied with our service, any complaints or
                                    suggestions should be addressed to:</p>
                                <p class="s10">Email : <a href="#"
                                        style="color: #0d6efd; font-size: 1rem;">enquiry@ceasefire.in</a></p>
                                <p style="color: #0d6efd; font-size: 1rem;"><span class="s10">Call Us </span>: 1800 120
                                    3473 / 9540 666
                                    666 </p>
                                <p>Thank You !</p>
                            </div>
                        </div>
                    </div>
                    <!--terms and condition end-->
                </div>
            </div>
            <!-- chat assistant start-->
              <!-- Chat And Quick Link Button On Right Side -->
            <!-- <app-chat-assistance></app-chat-assistance> -->
            <!-- chat assistant ends-->

        </div>
    </section>
</main>
<!-- End #main -->
