
<div class="row">
  <div class="row col-12 d-flex">
      <hr>




<div class="card col-lg-3 col-xs-12 col-md-3 text-center p-2 m-2" (click)="routeToProductSubcategory('50')" >
  <img src="https://cfx.ceasefire.biz/assets/apartment/FE.png" class="card-img-top" alt="...">
  <div class="card-body p-2">
    <button type="button" class="btn btn-outline-danger cat_btn">FIRE EXTINGUISHERS</button>
  </div>
</div>


<div class="card col-lg-3 col-xs-12 col-md-3 text-center p-2 m-2" (click)="routeToProductSubcategory('55')">
  <img src="https://cfx.ceasefire.biz/assets/apartment/Mini-V.png" class="card-img-top" alt="...">
  <div class="card-body p-2">
    <button type="button" class="btn btn-outline-danger cat_btn">IN-PANEL SYSTEMS</button>
  </div>
</div>

<div class="card col-lg-3 col-xs-12 col-md-3 text-center p-2 m-2" (click)="routeToProductSubcategory('60')">
  <img src="https://cfx.ceasefire.biz/assets/apartment/Suppression.png" class="card-img-top" alt="...">
  <div class="card-body p-2">
    <button type="button" class="btn btn-outline-danger cat_btn">SUPPRESSION SYSTEM</button>
  </div>
</div>

<div class="card col-lg-3 col-xs-12 col-md-3 text-center p-2 m-2" (click)="routeToProductSubcategory('65')">
  <img src="https://cfx.ceasefire.biz/assets/apartment/KSS.png" class="card-img-top" alt="...">
  <div class="card-body p-2">
    <button type="button" class="btn btn-outline-danger cat_btn">KITCHEN SYSTEMS</button>
  </div>
</div>
<div class="card col-lg-3 col-xs-12 col-md-3 text-center p-2 m-2" (click)="routeToProductSubcategory('70')">
  <img src="https://cfx.ceasefire.biz/assets/apartment/StandAlone.png" class="card-img-top" alt="...">
  <div class="card-body p-2">
    <button type="button" class="btn btn-outline-danger cat_btn">STANDALONE SYSTEMS</button>
  </div>
</div>
<div class="card col-lg-3 col-xs-12 col-md-3 text-center p-2 m-2" (click)="routeToProductSubcategory('75')">
  <img src="https://cfx.ceasefire.biz/assets/apartment/Accessories.png" class="card-img-top" alt="...">
  <div class="card-body p-2">
    <button type="button" class="btn btn-outline-danger cat_btn">ACCESSORIES</button>
  </div>
</div>


</div>
</div>
