.modal-header {
    width: 100%;
    padding: 1rem; /* Adjust padding as needed */
    background-color: #f8f9fa; /* Example background color */
    border-bottom: 1px solid #dee2e6; /* Example border color */
  }
  .table-container-projectdetails {
    max-height: 400px; /* Set the maximum height for the table container */
    overflow-y: auto; /* Enable vertical scrolling */
  }

  .sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff; /* Set the background color for the sticky header */
    z-index: 1; /* Set a higher z-index to ensure the header appears above other elements */
  }

  @media (min-width: 1200px){}
.modal-xl {
    max-width: 1341px !important;}

    .modal {
        position: fixed;
        top: 0;
        left: 80px !important;
        z-index: 1060;
        display: none;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
    }