<!-- main start here-->
<main id="main">
    <section class="inner-page p-0 sec_body" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 middle">

                    <!--help and support start here-->
                    <div class="row">
                        <div class="col-12 s0">
                            Help Center | 24*7 Customer Care Support
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 s3">
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 f_left main_order gap-3 mt-3">
                            <!-- <p class="custom_help">Help & Support</p> -->
                            <div class="col-md-3 col-sm-6 item mt-4 mb-4">
                                <div class="card" >
                                    <a routerLink="/contact" routerLinkActive="active">
                                        <img src="/assets/contact_us.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="s0">Contact Us</p>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 item mt-4 mb-4">
                                <div class="card" >
                                    <a routerLink="/user/order" routerLinkActive="active">
                                        <img src="/assets/delivery_tracking.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="s0">Track Order</p>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 item mt-4 mb-4">
                                <div class="card" >
                                    <a href="#" routerLinkActive="active">
                                        <img src="/assets/online_chat.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <p class="s0">Online Chat</p>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--help and support end here-->
                </div>
            </div>
            <!-- chat assistant start-->
              <!-- Chat And Quick Link Button On Right Side -->
            <!-- <app-chat-assistance></app-chat-assistance> -->
            <!-- chat assistant ends-->

        </div>
    </section>
</main>
<!-- End #main -->
