@charset "utf-8";
/* CSS Document */

body{ font-family: Roboto,Arial,sans-serif !important;}

.bg_img{ background-image: url("../../../../assets/images/manufacturing/bg1_manufacturing.jpeg");  background-repeat: round;   padding: 30px 50px 30px 96px; height: 600px;}
.bg_white{   background: rgba(255, 255, 255, 0.8);
            padding: 30px; height: 400px; width: 1140px; 
            text-align:justify; }

            .carousel-item-next, .carousel-item-prev, .carousel-item.active {
                display: block;
                height: 400px;}
              
                .carousel-caption p{ font-size: 25px;}
              
                .carousel-caption {
                  position: absolute;
                  right: 15%;
                  bottom: 6.25rem;
                  left: 15%;
                  padding-top: 1.25rem;
                  padding-bottom: 1.25rem;
                  color: #fff;
                  text-align: center;
              }
.floot{ float: left !important;}
.ml-3{ margin-left: 30px;}
.ml-2{ margin-left: 20px;}


.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 460px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 0;
    // Use the .carousel-control's width as margin so we don't overlay those
  
  }  
  

.heading_f{     background-color: #c6000c;
  color: #fff;}

.box_2{ background-color: #eaebec; height: 500px; padding: 50px 110px 50px 110px; }

.carousel-inner {
    background-color: #1e415a !important;
}
.carousel { margin-bottom: 0px !important;}

.box_4{ background-color: #ebecee; height: 500px; padding: 50px; }


.box_5{ background-color: #fff; height: 500px; padding: 50px 110px 50px 110px; }

.box_6{ background-color: #ebecee; height: 500px; padding: 50px 47px 50px 87px; }

.bg_white2{       background: #fff;
    padding: 30px 80px 30px 80px;
    height: 300px;
    width: 1140px;
    text-align: justify; }

.bg_img2{ background-image: url("../../../../assets/images/manufacturing/btm_bg_manufacturing.jpg");  background-repeat: round;  padding: 30px 50px 30px 96px; height: 700px;}

.BG_TOP{    width: 600px;     margin-left: 280px;
    height: 48px;
    margin-bottom: 30px;
    text-align: center;
    color: #000;
    background: rgba(255, 255, 255, 10);}


.bg_white3{       background: #fff;
    padding: 30px 80px 30px 80px;
    height: 650px;
    width: 1140px;
    text-align: justify; }

    .bg_blue{ background-color: #1e415a; text-align: center; color: #fff; font-weight: 500; }
    .cat_border{ border: 1px solid #d3d3d3; margin: 0px 5px 10px 5px; }

    .rating {
        color: #fff;
        background: #388e3c;
        width: auto;
        height: 19px;
        text-align: center;
        border-radius: 5px;
        line-height: normal;
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        padding: 10px 13px;
        margin-right: 10px;
    
    }

    .carousel-item-next, .carousel-item-prev, .carousel-item.active {
        display: block;
        height: 470px;}
        
    p{ margin-bottom: 2px;}
    hr{ margin: 4px; color: #d3d3d3;}

    .price_p{ font-weight: 500; color: #000;}
    .og_price{text-decoration: line-through;
        font-size: 14px;
        color: #878787; margin-left: 10px;}

        .discount_per{    color: #388e3c;
            font-size: 13px;
            letter-spacing: -.2px;
            font-weight: 500; margin-left: 10px;
        }

        // .plus .input-group{ width: 50% !important;}
        .input-group-text{ font-size: 16px !important; font-weight:500 !important;}


          
@media only screen and (max-width: 600px) {

    .bg_white{   background: rgba(255, 255, 255, 0.8);
      padding: 30px; height: 400px; width: auto; 
      text-align:justify; 
    }
  
    .floot {
    
        width: 100%;
        text-align: center;
        margin: auto;
}
  .bg_white2 {
    background: #fff;
    padding: 30px 16px 30px 16px;
    height: auto;
    text-align: justify;}
  
    .bg_white {
      background: rgba(255, 255, 255, 0.8);
      padding: 30px;
      height: auto;
      float: left;
      width: auto;
      text-align: justify;}
  
      .bg_img{
        background-repeat: round;
        padding: 30px 11px 30px 11px;
        height: auto;}
        .carousel-caption p{ font-size: 18px;}

        .carousel-caption {
          position: absolute;
          right: 15%;
          bottom: 3.25rem;
          left: 15%;
          padding-top: 1.25rem;
          padding-bottom: 1.25rem;
          color: #fff;
          text-align: center;
      }
    
      .box_5{
        background-color: #fff;
        height: auto;
        padding: 85px;
        width: auto;
    }
  .img-mobile{width: 200px; height: 350px; }
    .bg_white {
      background: rgba(255, 255, 255, 0.8);
      padding: 30px;
      height: auto;
      text-align: justify;}
       
  .mar_top{ margin-top: 70px;}
  
  .bg_img2{
  
  background-repeat: round;
  padding: 31px 3px 30px 3px;
  height: 700px;
  display: none;
  }
  .box_4 {
    background-color: #ebecee;
    height: auto;
    padding: 50px;
  }
  
  .bg_white3 {
  background: #fff;
  padding: 30px 20px 30px 20px;
  height: 600px;
  width: 1140px;
  text-align: justify;
  }
    .box_6 {
      background-color: #ebecee;
      height: auto;
      padding:50px 47px 50px 47px;}
  
      .mar_top{ margin-top: 70px;}
  
    .box_2{ background-color: #eaebec; height: auto; padding: 20px; }
  
  }