.shop_btn[_ngcontent-ng-c1412693270] {
    background-color: #019eaa;
    padding: 4px 25px 4px 25px;
    border-radius: 20px;
    color: #fff;
    text-align: right;
}

.height_img{ min-height: 800px;}

.red_heading{ color: #c6000c;}