<!-- main start here-->
<main id="main">
  <section class="inner-page p-0  sec_body">
    <div class="container-fluid">
      <div class="row">
        <div class="bg_img">

          <div class="bg_white">
            <div class="col-8 floot">
              <h5>Fire Solutions for</h5>

              <h1>Generators</h1>

              <p>Generators convert mechanical or chemical energy into electricity by capturing the power of motion.
                With high speed moving engine parts combined with fuel, alternators, wiring and exhaust system there is
                an ever-present risk of overheating leading to fires. The very design of the canopy of these modern-day
                generators makes detection of fire an even bigger challenge as the canopy completely keeps the generator
                enclosed and away from our visual sight. </p>
              <p>This is the reason generators need an exclusive fire suppression system that is one, automatic in
                nature and two, is designed exclusively to address the unique risk of generator fires.</p>
            </div>

            <div class="col-3 floot ml-3"><img src="../../../../assets/images/generators/box_1_rgt.png" width="340"
                height="300" alt="" /></div>
          </div>

        </div>

        <div class="box_2">
          <div class="col-9 floot mt-5">
            <h2>
              Ceasefire: Where Fire Safety<br>
              Meets Reliability.</h2>

            <p>To mitigate fire risks in generators, they must be equipped with specialised fire fighting solutions that
              are designed to specifically address the risk of generator fires. With Ceasefire’s advanced fire
              extinguishers and fire suppression systems you can take the safety of generators to another level. Our
              state-of-the-art solutions are meticulously crafted to minimise the collateral damage to generators.</p>



            <p>Our proven record speaks volumes – your business's well-being is our top priority. When you choose
              Ceasefire, you're not just choosing a fire safety solution. You're opting for a partner that's dedicated
              to upholding the utmost reliability, protecting your assets, safeguarding your business's continuity, and
              providing you with the peace of mind you deserve.</p>
          </div>
          <div class="col-2 floot ml-3"><img src="../../../../assets/images/generators/box_2_rgt_img.png" width="230"
              height="400" alt="" /></div>

        </div>

      </div>
      <div class="col-12 text-center heading_f my-2">  <h3 class="mb-0">Fire Facts That Need Your Attention</h3></div>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">


              <div class="carousel-caption">
               
                <p class="opacity-75">10,000 generator fires were reported in India in 2021,<br>

                  resulting in over 1,000 deaths and 2,000 injuries.</p>
                <p>- The Times of India</p>

              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
              <div class="carousel-caption">
               
                <p> The State Fire Service Acts include provisions for the licensing <br>

                  of generators and the inspection of generator installations.</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
              <div class="carousel-caption">
               
                <p>Overloading is the most common cause of generator fires. </p>
              </div>
            </div>
          </div>
          <!-- <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
              <rect width="100%" height="100%" fill="var(--bs-secondary-color)" />
            </svg>
            <div class="container">
              <div class="carousel-caption">
                <p>Two generators rented for the occasion is known to be the leading cause of Dabwali Fire Tragedy, in
                  Rajiv Marriage Place, <br> Dabwali in Haryana in December 1995 here close to 446 people lost their
                  lives and over 200 were injured.</p>
                <p>- Fires in India, NIDM, Ministry of Home Affairs, India 2020 </p>
              </div>
            </div>
          </div> -->


        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>


      <div class="box_4">
        <div class="col-12 text-center">
          <h2>

            Common Causes Of Fire In Generators</h2>

        
        </div>
        <div class="row text-center">
          <div class="col-md-1 "></div>
            <div class="col-md-2 col-lg-2 col-xs-12">
          <img src="https://ccrmuk.ceasefire.biz/assets/images/generator/img_1.png" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-12">
          <img src="https://ccrmuk.ceasefire.biz/assets/images/generator/img_2.png" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-12">
          <img src="https://ccrmuk.ceasefire.biz/assets/images/generator/img_3.png" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-12">
          <img src="https://ccrmuk.ceasefire.biz/assets/images/generator/img_4.png" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-2 col-lg-2 col-xs-12">
          <img src="https://ccrmuk.ceasefire.biz/assets/images/generator/img_5.png" class="img-fluid" alt=""/>
        </div>
        <div class="col-md-1 "></div>
       

        </div>

      </div>


      <div class="box_5 row">
        <div class="col-12 text-center mb-2">
          <h2>
            Cost of Not Addressing The Risk</h2>
        </div>

        <div class="col-12 mt-5 pull-left">

          <div class="col-6 floot text-center"><img src="../../../../assets/images/generators/cost_img1.png" width="180"
              height="110" alt="" />
            <p>Average Cost of a<br> Generator</p>
          </div>
          <div class="col-6 floot text-center "><img src="../../../../assets/images/generators/downtime_img2.png"
              width="180" height="110" alt="" />
            <p>Average Down <br> Time</p>
          </div>


        </div>

        <div class="col-12 text-center mt-5 pull-left" style="font-weight: 500;">* Estimated costs as per industry
          experts and secondary data.</div>
      </div>

      <div class="box_6 row">
        <div class="col-12 text-center">
          <h2>

            Safeguards in Just 3 Steps</h2>


        </div>

        <div class="bg_white2 mt-5">

          <div class="col-4 floot mar_top text-center"><img src="../../../../assets/images/electrical_panel/detect.png"
              width="190" height="188" style="margin-top: -72px;" alt="" />
            <h3>
              DETECT</h3>
            <p>Identifies fire at its origin through specialised Heat Sensing Tube.</p>

          </div>

          <div class="col-4 floot mar_top text-center"><img src="../../../../assets/images/electrical_panel/TRIGGER.png"
              width="190" height="188" style="margin-top: -68px;" alt="" />
            <h3>TRIGGER
            </h3>

            <p>The mechanism triggers autonomously, safeguarding even in unattended situations.</p>

          </div>
          <div class="col-4 floot mar_top text-center"><img src="../../../../assets/images/electrical_panel/SUPPRESS.png"
              width="190" height="188" style="margin-top: -68px;" alt="" />
            <h3>SUPPRESS </h3>

            <p>Extinguishes fire rapidly ensuring safety for individuals, machinery, and surroundings. </p>

          </div>


        </div>


      </div>

      <div class="bg_img2">
        <div class="col-12 text-center">
          <div class="BG_TOP">
            <h3>Fusion of Flexibility and Expertise</h3>
          </div>
        </div>
        <div class="bg_white3">
          <div class="col-12 text-center">
            <h3> Fusion of Flexibility and Expertise</h3>
          </div>
          <div class="col-12 floot bg_blue">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="../../../../assets/images/generators/btm_last.png" alt="First slide">
                </div>

              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <app-app-product-details [ApplicationAreaId]="2023">
      </app-app-product-details>
    </div>
  </section>
</main>